<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequesttool.mappers.RelationRequestMapper">
    <select id="count" parameterType="map" resultType="int">
        SELECT count(relation_request_id) FROM other_media.relation_request_view
        <where>
            <if test="status == null">
                status in
                <foreach collection="roles" index="index" item="item" open="("
                    separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="status != null">
                lower(CAST(status AS TEXT)) LIKE
                #{status}
            </if>
            <if test="requestId != null">
                AND lower(CAST(relation_request_id AS TEXT)) = #{requestId}
            </if>
            <if test="companyParam != null">
                AND lower(company_id) like #{companyParam}
                <if test="status == null">
                    OR status in
                    <foreach collection="roles" index="index" item="item" open="("
                        separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="status != null">
                    OR lower(CAST(status AS TEXT)) LIKE #{status}
                </if>
                AND lower(company_name) like #{companyParam}
            </if>
            <if test="mediaParam != null">
                AND lower(media_id) like #{mediaParam}
                <if test="status == null">
                    OR status in
                    <foreach collection="roles" index="index" item="item" open="("
                        separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="status != null">
                    OR lower(CAST(status AS TEXT)) LIKE  #{status}
                </if>
                AND lower(media_name) LIKE #{mediaParam}
                <if test="status == null">
                    OR status in
                    <foreach collection="roles" index="index" item="item" open="("
                        separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="status != null">
                    OR lower(CAST(status AS TEXT)) LIKE #{status}
                </if>
                AND lower(assign_user_name) LIKE #{mediaParam}
            </if>
        </where>
    </select>

        <select id="paging" parameterType="map" resultType="com.hrs.mediarequesttool.pojos.RelationRequest">
	        SELECT * FROM other_media.relation_request_view
           <where>
	           <if test="status == null">
	               status IN
	               <foreach collection="roles" index="index" item="item" open="("
	                   separator="," close=")">
	                   #{item}
	               </foreach>
	           </if>
	           <if test="status != null">
                    lower(CAST(status AS TEXT)) LIKE #{status}
                </if>
                <if test="requestId != null">
	                AND lower(CAST(relation_request_id AS TEXT)) = #{requestId}
                </if>
                <if test="companyParam != null">
                    AND lower(company_id) like #{companyParam}
	                <if test="status == null">
	                    OR status IN
	                    <foreach collection="roles" index="index" item="item" open="("
	                        separator="," close=")">
	                        #{item}
	                    </foreach>
	                </if>
	                <if test="status != null">
	                    OR lower(CAST(status AS TEXT)) LIKE #{status}
	                </if>
	                    AND lower(company_name) like #{companyParam}
                </if>
                
                
                <if test="mediaParam != null">
	                AND lower(media_id) like #{mediaParam}
	                <if test="status == null">
	                    OR status IN
	                    <foreach collection="roles" index="index" item="item" open="("
	                        separator="," close=")">
	                        #{item}
	                    </foreach>
	                </if>
	                <if test="status != null">
	                    OR lower(CAST(status AS TEXT)) LIKE #{status}
	                </if>
	                AND lower(media_name) LIKE #{mediaParam}
	                <if test="status == null">
	                    OR status IN
	                    <foreach collection="roles" index="index" item="item" open="("
	                        separator="," close=")">
	                        #{item}
	                    </foreach>
	                </if>
	                <if test="status != null">
	                    OR lower(CAST(status AS TEXT)) LIKE #{status}
	                </if>
	                AND lower(assign_user_name) LIKE #{mediaParam}
                </if>
                </where>
				<if test="sort != null and direction != null">
					ORDER BY
					<if test="sort != 'status'">
					    ${sort}
					</if>
					<if test="sort == 'status'">
					   CASE
					       WHEN status = 'NEW' THEN 7
					       WHEN status = 'ASSIGNED' THEN 6
					       WHEN status = 'CONFIRMING' THEN 5
					       WHEN status = 'OK' THEN 4
					       WHEN status = 'NG' THEN 3
					       WHEN status = 'FINISHED' THEN 2
					       WHEN status = 'DELETED' THEN 1 END 
					</if>
					${direction}
				</if>
				<if test="sort == null or direction == null">
				   ORDER BY
			        <if test="priority != null and priority == 'status'">
		              CASE 
				          WHEN status = 'NEW' THEN 7
				          WHEN status = 'ASSIGNED' THEN 6
				          WHEN status = 'CONFIRMING' THEN 5
				          WHEN status = 'OK' THEN 4
				          WHEN status = 'NG' THEN 3
				          WHEN status = 'FINISHED' THEN 2
				          WHEN status = 'DELETED' THEN 1 END DESC,
			        </if>
			        
			        <if test="priority != null and priority != 'status'">
			              ${priority} DESC,
			        </if>
				       created_at DESC,
				       crawl_date DESC,
				       relation_request_id DESC,
				       company_id DESC,
				       company_name DESC,
				       media_name DESC,
				       assign_user_name DESC
				</if>
                    LIMIT #{page.limit} OFFSET #{page.offset}
        </select>
    
    <!-- select to check exist -->
    <select id="get" parameterType="map"
        resultType="com.hrs.mediarequesttool.pojos.RelationRequest">
        SELECT
            request.relation_request_id,
            request.company_id AS company_auto_id,
            request.media_id as media_auto_id,
            media.media_id,
            request.requester_name,
            request.requester_mail,
            request.requester_phone,
            request.url,
            company.company_id, 
            request.login_id_1,
            request.login_id_2,
            pgp_sym_decrypt(request.login_password_1, #{pgcrypto}) as login_password_1,
            pgp_sym_decrypt(request.login_password_2, #{pgcrypto}) as login_password_2,
            request.crawl_date,
            request.other_comment,
            request.status,
            request.assign_user_name,
            request.update_user_id,
            request.created_at,
            request.updated_at,
            company.company_name,
            media.media_name,
            status.description as status_description
        FROM
        other_media.relation_request as request
        INNER JOIN
        other_media.relation_request_status as status ON request.status = status.status_type
        INNER JOIN
            other_media.contract_company as company ON request.company_id = company.id
        INNER JOIN
            other_media.media as media ON request.media_id = media.id
        WHERE
        request.relation_request_id = #{request_id}
    </select>
    
    <!-- update data -->
    <update id="updateRequest" parameterType="com.hrs.mediarequesttool.pojos.RelationRequest">
        UPDATE
            other_media.relation_request
        SET
            status = #{status},
            assign_user_name = #{assign_user_name}
        WHERE
            relation_request_id = #{relation_request_id}    
    </update>
</mapper>
