<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequesttool.mappers.RelationRequestMapper">
    <select id="paging" parameterType="map" resultType="com.hrs.mediarequesttool.pojos.RelationRequest">
     SELECT * FROM other_media.relation_request_view
       <where>
         status IN
         <foreach collection="roles" index="index" item="item" open="("
             separator="," close=")">
             #{item}
         </foreach>
       </where>
       ORDER BY
       <if test="sort != null and direction != null">
            <if test="sort == 'status'">
                <if test="priority != null and priority == 'director'">
		         CASE 
		             WHEN status = 'PROCESSING' THEN 2
		             WHEN status = 'FINISHED' THEN 1 END
		       </if>
		       <if test="priority != null and priority == 'leader'">
		         CASE 
		             WHEN status = 'OK' THEN 5
		             WHEN status = 'PROCESSING' THEN 4
		             WHEN status = 'NEW' THEN 3
		             WHEN status = 'CONFIRMING' THEN 2
		             WHEN status = 'NG' THEN 1 END
		       </if>
		       <if test="priority != null and priority == 'media_checker'">
		         CASE
		             WHEN status = 'NEW' THEN 4
		             WHEN status = 'CONFIRMING' THEN 3
		             WHEN status = 'NG' THEN 2
		             WHEN status = 'OK' THEN 1 END
		       </if>
		       ${direction},
            </if>
            <if test="sort != 'status'">
                ${sort} ${direction},
            </if>
            <if test="direction == 'desc' or direction == 'DESC'">
               created_at ASC,
            </if>
            <if test="direction != 'desc' and direction != 'DESC'">
               created_at DESC,
            </if>
            relation_request_id ${direction}
       </if>
       <if test="sort == null or direction == null">
               <if test="priority != null and priority == 'director'">
                 CASE 
                     WHEN status = 'PROCESSING' THEN 2
                     WHEN status = 'FINISHED' THEN 1 END
               </if>
               <if test="priority != null and priority == 'leader'">
                 CASE 
                     WHEN status = 'OK' THEN 5
                     WHEN status = 'PROCESSING' THEN 4
                     WHEN status = 'NEW' THEN 3
                     WHEN status = 'CONFIRMING' THEN 2
                     WHEN status = 'NG' THEN 1 END
               </if>
               <if test="priority != null and priority == 'media_checker'">
                 CASE
                     WHEN status = 'NEW' THEN 4
                     WHEN status = 'CONFIRMING' THEN 3
                     WHEN status = 'NG' THEN 2
                     WHEN status = 'OK' THEN 1 END
               </if>
               DESC,
             created_at ASC,
             relation_request_id DESC
       </if>
       LIMIT #{page.limit} OFFSET #{page.offset}
    </select>
    <!-- 
        GET COUNT WHEN SEARCH
     -->
    <select id="getCountSearch" parameterType="map" resultType="int">
        SELECT count(relation_request_id) FROM other_media.relation_request_view
        <where>
            <if test="status != null and status != ''">
                CAST(relation_request_id AS TEXT) ILIKE #{searchParam} AND status ILIKE #{status}
                OR company_name ILIKE #{searchParam} AND status ILIKE #{status}
                OR company_id ILIKE #{searchParam} AND status ILIKE #{status}
                OR media_name ILIKE #{searchParam} AND status ILIKE #{status}
                OR assign_user_name ILIKE #{searchParam} AND status ILIKE #{status}
            </if>
            <if test="status == null or status == ''">
                CAST(relation_request_id AS TEXT) ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR company_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR company_id ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR media_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR assign_user_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
            </if>
        </where>
    </select>
    <!-- 
        GET COUNT IN DEFAULT PAGE, SORT WITHOUT SEARCH
     -->
    <select id="count" parameterType="map" resultType="int">
        SELECT count(relation_request_id) FROM other_media.relation_request_view
        <where>
            status IN 
            <foreach collection="roles" index="index" item="item" open="("
                separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    
    
    <!-- 
        GET RECORD WHEN SEARCH
     -->     
     <select id="getAllRecord" parameterType="map" resultType="com.hrs.mediarequesttool.pojos.RelationRequest">
        SELECT * FROM other_media.relation_request_view
        <where>
            <if test="status != null and status != ''">
                CAST(relation_request_id AS TEXT) ILIKE #{searchParam} AND status ILIKE #{status}
                OR company_name ILIKE #{searchParam} AND status ILIKE #{status}
                OR company_id ILIKE #{searchParam} AND status ILIKE #{status}
                OR media_name ILIKE #{searchParam} AND status ILIKE #{status}
                OR assign_user_name ILIKE #{searchParam} AND status ILIKE #{status}
            </if>
            <if test="status == null or status == ''">
                CAST(relation_request_id AS TEXT) ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR company_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR company_id ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR media_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
                OR assign_user_name ILIKE #{searchParam} AND status NOT IN 
                   <foreach collection="noneStatus" index="index" item="item" open="("
                    separator="," close=")">
                       #{item}
                   </foreach>
            </if>
            </where>
            ORDER BY
            <if test="sort != null and direction != null">
	            <if test="sort != 'status'">
	                ${sort} ${direction},
	            </if>
	            <if test="sort == 'status'">
                 CASE 
	                WHEN status = 'NEW' THEN 6
	                WHEN status = 'CONFIRMING' THEN 5
	                WHEN status = 'NG' THEN 4
	                WHEN status = 'OK' THEN 3
	                WHEN status = 'PROCESSING' THEN 2
	                WHEN status = 'FINISHED' THEN 1 END ${direction},
	            </if>
	            created_at ${direction},
	            relation_request_id ${direction},
	        </if>
	           
            <if test="sort == null or direction != null">
                created_at DESC,
                relation_request_id DESC
            </if>
            LIMIT #{page.limit} OFFSET #{page.offset}
     </select>
    
    <!-- select to check exist -->
    <select id="get" parameterType="map"
        resultType="com.hrs.mediarequesttool.pojos.RelationRequest">
        SELECT
            request.relation_request_id,
            request.company_id AS company_auto_id,
            request.media_id AS media_auto_id,
            media.media_id,
            request.requester_name,
            request.requester_mail,
            request.requester_phone,
            request.url,
            company.company_id, 
            request.login_id_1,
            request.login_id_2,
            pgp_sym_decrypt(request.login_password_1, #{pgcrypto}) AS login_password_1,
            pgp_sym_decrypt(request.login_password_2, #{pgcrypto}) AS login_password_2,
            request.crawl_date,
            request.other_comment,
            request.status,
            request.assign_user_id,
            u.user_name as assign_user_name,
            request.update_user_id,
            request.created_at,
            request.updated_at,
            company.company_name,
            media.media_name,
            status.description as status_description
        FROM
        	other_media.relation_request AS request
        INNER JOIN
        	other_media.relation_request_status AS status ON request.status = status.status_type
        INNER JOIN
            other_media.contract_company AS company ON request.company_id = company.id
        INNER JOIN
            other_media.media AS media ON request.media_id = media.id
        LEFT JOIN
        	other_media.user AS u ON request.assign_user_id = u.id
        WHERE
        	request.relation_request_id = #{request_id}	
    </select>
    
    <!-- update data -->
    <update id="updateRequest" parameterType="com.hrs.mediarequesttool.pojos.RelationRequest">
        UPDATE
            other_media.relation_request
        SET
            status = #{status}
        WHERE
            relation_request_id = #{relation_request_id}    
    </update>
    
    <!-- update only director -->
    <update id="updateOnlyDirectorOfRequest" parameterType="com.hrs.mediarequesttool.pojos.RelationRequest">
        UPDATE
            other_media.relation_request
        SET
            assign_user_id = #{assign_user_id}
        WHERE
            relation_request_id = #{relation_request_id}    
    </update>
</mapper>
