<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequesttool.mappers.UserMapper">
  <select id="getbyUserID" parameterType="map"
    resultType="com.hrs.mediarequesttool.pojos.User">
    SELECT *
    FROM
      other_media.user
    WHERE
      user_id = #{user_id}
  </select>
  
  <select id="get" parameterType="map"
    resultType="com.hrs.mediarequesttool.pojos.User">
    SELECT *
    FROM
      other_media.user
    WHERE
      id = #{id}
    AND 
      user_role = 1
  </select>
  
  <select id="getListDirector" parameterType="map"
    resultType="com.hrs.mediarequesttool.pojos.User">
    SELECT *
    FROM
      other_media.user
    WHERE
      user_role = 1
    <if test="current_user_id != 0">
		AND	id != #{current_user_id}
	</if>
  </select>
  
  <update id="countLoginFailure" parameterType="map">
    UPDATE
      other_media.user
    SET
      login_failed_count = login_failed_count + 1
    WHERE
      id = #{id}
  </update>
  
  <update id="updateLastLoginTime" parameterType="map">
    UPDATE
      other_media.user
    SET
      last_login_at = now()
    WHERE
      id = #{id}
  </update>
  
</mapper>
