#button-block,#search-block {
	line-height: 22px;
	margin-bottom: 10px;
}

#button-block {
	float: right;
	width: 200px;
	text-align: right;
}

#search-block {
	margin-right: 200px;
}

#fac-shop-list-tbl {
	margin-bottom: 20px;
}

#fac-form-body {
	margin-bottom: 10px;
}

#fac-form-footer {
	text-align: right;
	line-height: 22px;
}

#delete-login-id {
	word-break: break-word;
	word-wrap: break-word;
}