.form {
	border: 1px solid rgb(85, 142, 213);
	padding: 5px;
}

.required-note {
	color: red;
}

.form-line {
	margin: 10px 0 20px;
	line-height: 22px;
	word-wrap: break-word;
}

.form-line:after {
	display: block;
	clear: both;
	content: '';
}

.form-line-bottom {
	margin: 10px 0 40px;
	line-height: 22px;
}

.form-col-left {
	margin-right: 61%;
	margin-left: 120px;
}

.form-col-right {
	float: right;
	width: 60%;
}

.form-col-left-box {
	margin-right: 71%;
}

.form-col-right-box {
	float: right;
	width: 70%;
}

.form-col-left-special {
	margin-left: 45px;
	float: left; 
	width: 200px; 
}

.form-col-right-special {
	float: right; 
	width: 450px; 
}

.form-col-middle-special {
	margin-left: 200px;
	margin-right: 450px; 
}

.form-col-left-memo {
	margin-left: 45px;
	float: left; 
	width: 200px; 
}

.form-col-right-memo {
	float: right; 
	width: 310px; 
}

.form-col-middle-memo {
	margin-left: 200px;
	margin-right: 310px; 
}

.form-input-note {
	color: #999;
	font-size: 11px;
}

form input[type="text"],form input[type="password"],form select,form textarea {
	width: 250px;
}

form select {
	height: 22px;
}

form textarea {
	height: 105px;
	padding: 4px 0;
}