* {
	padding: 0;
	margin: 0;
	font-family: 'ms gothic', 'arial';
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: 12px;
	line-height: 22px;
}

#wrapper {
	margin: 0 auto 0;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	min-width: 1024px;
	width: 100%;
	overflow: hidden;
}

#page-content {
	padding: 10px;
	min-width: 1000px;
}

.page {
	width: 980px;
	margin: 0 auto;
}

#push {
	width: 1000px;
	height: 35px;
}

#page-header {
	height: 107px;
	background-image: url(../img/bg_header.png);
	background-repeat: repeat-x;
	background-color: white;
	border-bottom: 1px solid rgb(85, 142, 213);
	color: black;
	font-size: 40px;
	text-align: center;
	line-height: 104px;
	text-shadow: 1px 1px white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#header-line {
	margin: 10px;
}

#header-buttons {
	float: right;
	text-align: right;
	width: 400px;
}

#breadcrumbs {
	margin-right: 400px;
}

#page-footer {
	margin: -35px auto 0 auto;
	height: 34px;
	background-image: url(../img/bg_footer.png);
	background-repeat: repeat-x;
	background-color: white;
	border-top: 1px solid rgb(85, 142, 213);
}

.orange-button {
	border: 1px solid #ccc;
	height: 20px;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	background-color: white;
	color: white;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	width: 95px;
	display: inline-block;
	vertical-align: bottom;
}

.button {
	border: 1px solid black;
	font-weight: bold;
	text-decoration: none;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	color: black;
	font-size: 12px;
	padding: 0 20px;
	height: 22px;
	cursor: pointer;
	display: inline-block;
	vertical-align: bottom;
}

.button-link {
	display: inline-block;
	border: 1px solid black;
	padding: 0px 20px;
	height: 20px;
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-image: url(../img/bg_button.png);
	background-repeat: repeat-x;
	font-weight: bold;
	cursor: pointer;
	vertical-align: bottom;
}

.button-link.disabled,.button-link[disabled],.button.disabled,.button[disabled]	{
	border: 1px solid #666;
	background-image: url(../img/bg_button_disabled.png);
	color: #666;
}
.button.orange, .button-link.orange {
	border: 1px solid #ccc;
	background-image: url(../img/bg_button_orange.png);
} 

.break {
	margin-right: 10px;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.mask {
	background-color: transparent; 
	position: fixed; top:0;bottom:0;left:0;right:0;
	z-index:16777271;
}

input[type="text"],input[type="password"],select,textarea {
	padding: 0;
	margin: 0;
	border: 1px solid #999;
	font-size: 12px;
}

input[type="text"],input[type="password"] {
	height: 20px;
}
input[type="password"] {
	font-family: 'arial';
}

select {
	height: 22px;
}

textarea {
	resize: none;
}

select[disabled], input[disabled], .disabled {
	color: #333;
	background-color: whitesmoke;
}

input[disabled]:focus, .disabled:focus {
	outline: none;
}

input[readonly] {
	color: #333;
}