#company-list-page {
	width: 1200px;
}
#search-form {
	margin-bottom: 10px;
}
#search-relation-request-form {
    width : 100%;
    margin:0 20 0 0;
    display:inline-block;
}

#label_control {
	width : 50px;
	margin-left : 0px;
	text-align: left;
	float : left;
}
#input_text_search {
	width : auto;
	min-width : 80%;
	margin-left: 50px;
	float : left;
}
#button_search {
	width : 80px;
	margin-right: 0px;
	float: right;
}

.status {
	width : 15%;
}
.time_common {
	width : 155px;
}
.time_common_date {
	width : 130px;
}
.company_id {
	width : 9%;
}
.company_name {
	width : 12%;
}
.media_name {
	width : 22%;
}
.request_id {
	width : 7%;
}
.tantosha {
	width : auto;
}

