.status_combobox {
	min-width : 40px;
	text-align: center;
}

#search_form_control {
	margin-bottom : 20px;
	width : 100%;
	float : left;
}

#search_form_type {
	float : left;
	width : 15%;	
}
#search_form_text {
	width : 85%;
	float : right ;
}
#search_form_input{
	width : 80%;
	float : left;
	margin-left : 5px;
}
#search_value {
	width : 100%;
}
.input_search {
	width : 90%;
}
.label_control {
	width : 20%;
}
#search_form_label{
	width : 8%;
	float : left;
	margin-left : 5px;
}
#search_form_btn {
	float: right;
    width: 75px;
    text-align: right;
}
#company-list-page {
	width: 1200px;
}

.status {
	width : 15%;
}
.time_common {
	width : 155px;
}
.company_id {
	width : 7%;
}
.company_name {
	width : 11%;
}
.media_name {
	width : 22%;
}
.request_id {
	width : 7%;
}
.tantosha {
	width : auto;
}

