
#request-form-top, #request-form-center, #request-form-bottom {
	margin-top: 15px;
}

#request-form-footer {
	text-align: right;
	line-height: 22px;
}

#request-detail-page {
	
}

#request-id, #assign_user_name {
	margin: 30px;
}