<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequest.mappers.CompanyDatabaseMapper">
	<select id="get" parameterType="map"
		resultType="com.hrs.mediarequest.pojos.CompanyDatabase">
		SELECT *
		FROM company.company_database
		WHERE company_id = #{company_id}
	</select>
</mapper>