<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequesttool.mappers.StatusMapper">
	
	<select id="getListNextStatus" parameterType="map"
		resultType="com.hrs.mediarequesttool.pojos.Status">
		SELECT * FROM other_media.relation_request_status WHERE status_type in 
		<foreach collection="listNextStatus" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="get" parameterType="map"
		resultType="com.hrs.mediarequesttool.pojos.Status">
		SELECT * FROM other_media.relation_request_status WHERE status_type = #{type}
	</select>
	<select id="getAll"
	   resultType="com.hrs.mediarequesttool.pojos.Status" parameterType="map">
	   SELECT * FROM other_media.relation_request_status WHERE status_type NOT IN 
	   <foreach collection="noneStatus" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
       ORDER BY 
       CASE 
	        WHEN status_type = 'NEW' THEN 6
	        WHEN status_type = 'CONFIRMING' THEN 5
	        WHEN status_type = 'NG' THEN 4
	        WHEN status_type = 'OK' THEN 3
	        WHEN status_type = 'PROCESSING' THEN 2
	        WHEN status_type = 'FINISHED' THEN 1 END DESC
	</select>
</mapper>