<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrs.mediarequest.mappers.UserMapper">
  <select id="getbyUserID" parameterType="map"
    resultType="com.hrs.mediarequest.pojos.User">
    SELECT *
    FROM
      other_media.user_relation_request
    WHERE
      user_id = #{user_id}
  </select>
  <update id="countLoginFailure" parameterType="map">
    UPDATE
      other_media.user
    SET
      login_failed_count = login_failed_count + 1
    WHERE
      id = #{id}
  </update>
  <update id="updateLastLoginTime" parameterType="map">
    UPDATE
      other_media.user_relation_request
    SET
      last_login_at = now()
    WHERE
      id = #{id}
  </update>
  
</mapper>
