#history-login-id {
	word-break: break-word;
	word-wrap: break-word;
}

#tbl-history-body {
	border-spacing: 0;
	table-layout: fixed;
}

#tbl-history-body td {
	border-bottom: 1px solid rgb(85, 142, 213);
	border-right: 1px solid rgb(85, 142, 213);
	word-break: break-word;
	padding: 2px;
	height: 25px;
	text-align: left;	
	word-wrap: break-word;
}

#tbl-history-body td:first-of-type {
	border-left: 1px solid rgb(85, 142, 213);
}

#tbl-history-header {
	width: 100%;
	margin-top: 10px;
	border-spacing: 0;
	table-layout: fixed;
}

#tbl-history-header th {
	border-top: 1px solid rgb(85, 142, 213);
	border-right: 1px solid rgb(85, 142, 213);
	border-bottom: 1px solid rgb(85, 142, 213);
	height: 30px;
	text-align: left;
	padding-left: 2px;
	position: relative;
	z-index: 1;
	background-color: whitesmoke;
}

#tbl-history-header th:first-of-type {
	border-left: 1px solid rgb(85, 142, 213);
}

#tbl-history-header #scroll-header {
	background: transparent;
	border: none;
}

#tbl-history-body-container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 500px;
	text-align: center;
}

#tbl-history-body .tbl-history-detail {
	width: 98%;
	margin: 10px auto;
	border-spacing: 0;
}

#tbl-history-body .tbl-history-detail th {
	border-top: 1px solid rgb(85, 142, 213);
	border-right: 1px solid rgb(85, 142, 213);
	border-bottom: 1px solid rgb(85, 142, 213);
	background: whitesmoke;
	text-align: left;
	padding-left: 2px;
	height: 30px;
}

#tbl-history-body .tbl-history-detail th:first-of-type {
	border-left: 1px solid rgb(85, 142, 213);
}

#tbl-history-body .tbl-history-detail td {
	padding: 2px;
	height: auto;
	background: white;
}

.history-detail-row {
	background: lightblue;
	display: none;
	border-bottom: 2px solid #666;
}

.accordion-trigger {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	background-image: url(../img/expand.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.accordion-trigger.hide {
	background-image: url(../img/collapse.png);
}

#tbl-history-body .tbl-history-detail .has-diff td {
	color: red;
}