
#request-form-top, #request-form-center, #request-form-bottom {
	margin-top: 15px;
}

#request-form-top {
	border: 1px solid rgb(27, 27, 240);
}

#request-form-footer {
	text-align: right;
	line-height: 22px;
}

#request-detail-page {
	font-size: 14px;
}

#label-current-status, #label-next-status {
	font-size: 14px;
	font-weight: bold;
}

#select-next-status, #select-new-director, #crawl-date, #select-update-director {
	height: 25px;
	width: 200px;
	font-size: 14px;
}

#change-status {
	margin-left: 60px;
	font-size: 14px;
	background-image: url(../img/bg_button_orange.png);
}

#enable-change-director, #cancel-change-director {
	margin-left: 20px;
}

#update-director {
	margin-left: 60px;
}

#button-destroy {
	float: right;
}

#message {
	margin: 20px 60px;
	font-size: 18px;
	color: red;
}

.left-side {
	margin-right: 75%;
	margin-left: 45px;
}

.right-side {
	float: right;
	width: 75%;
}