#company-list-page {
	width: 1200px;
}
#search-form {
	margin-bottom: 10px;
}
#search-relation-request-form {
    width : 100%;
    margin:0 20 0 0;
    display:inline-block;
}

#status_search_form {
	display: inline-block;
	width : 100%;
	margin: 0 10 0 0
}
.label_search {
	width : 110px;
    margin-left : 0px;
    text-align: left;
    float : left;
}
.input_text_search {
	margin-left: 50px;
	width : auto;
	min-width : 200px;
    float : left;
}
#input_text_search {
	width : auto;
	min-width : 75%;
	margin-left: 50px;
	float : left;
}
#button_search {
	width : 80px;
	margin-right: 0px;
	float: right;
}

.column_status {
	width : 9%;
}
.column_registered_time {
	width : 135px;
}
.column_company {
	width : 18%;
}
.column_tantoshaname {
	width : 11%;
}
.column_email {
	width : 17%;
}
.column_media_name {
	width : 20%;
}
.column_request_id {
	width : 7%;
}
.column_hrs_tantosha {
	width : auto;
	min-width : 11%;
}

