
#request-form-top, #request-form-center, #request-form-bottom {
	margin-top: 15px;
}

#request-form-footer {
	text-align: right;
	line-height: 22px;
}

#request-detail-page {
	font-size: 14px;
}

#current-status, #new-status {
	font-size: 14px;
	font-weight: bold;
}

#select-new-status {
	height: 25px;
	width: 250px;
	font-size: 14px;
}

#change-status {
	margin-left: 60px;
	font-size: 14px;
	background-image: url(../img/bg_button_orange.png);
}

.left-side {
	margin-right: 70%;
	margin-left: 65px;
}

.right-side {
	float: right;
	width: 70%;
}